<nav class="bg-indigo-600 text-white p-4 flex gap-4">
    <a routerLink="/membresias" class="hover:underline">📄 Ver membresías</a>
    <a routerLink="/membresias/nueva" class="hover:underline">➕ Nueva membresía</a>
    <a routerLink="/propinas" class="hover:underline">🪙 Ver propinas</a>
    <a routerLink="/propinas/nueva" class="hover:underline">➕ Enviar propina</a>
</nav>

<section class="p-4">
    <h2>Recompensas</h2>
    <app-recompensa-form></app-recompensa-form>
    <app-recompensa-list></app-recompensa-list>
</section>

<main class="p-4">
    <router-outlet></router-outlet>
    </main>