<div class="card formulario">
    <h2>Crear Recompensa</h2>
    <form [formGroup]="form" (ngSubmit)="enviar()">
        <label>Nombre:</label>
        <input formControlName="nombre" type="text" />

        <label>Descripción:</label>
        <textarea formControlName="descripcion"></textarea>

        <label>Tipo:</label>
        <select formControlName="tipo">
            <option value="propina">Propina</option>
            <option value="membresia">Membresía</option>
        </select>

        <label>Valor Mínimo (opcional):</label>
        <input formControlName="valorMinimo" type="number" />

        <br /><br />
        <button type="submit" [disabled]="form.invalid">Crear Recompensa</button>
    </form>
</div>
  