<div class="card formulario">
    <h2>Crear Nueva Transacción</h2>
    <form [formGroup]="form" (ngSubmit)="enviar()">
        <label>Tipo:</label>
        <select formControlName="tipo">
            <option value="entrada">Entrada (ingreso)</option>
            <option value="salida">Salida (retiro)</option>
        </select>

        <label>Descripción:</label>
        <input formControlName="descripcion" type="text" />

        <label>Monto:</label>
        <input formControlName="monto" type="number" />

        <label>ID de Usuario:</label>
        <input formControlName="usuarioId" type="text" />

        <br /><br />
        <button type="submit" [disabled]="form.invalid">Registrar Transacción</button>
    </form>
</div>
<button routerLink="/nueva-transaccion">➕ Crear Transacción</button>
<button routerLink="/crear-recompensa">+ Nueva recompensa</button>