<div class="max-w-md mx-auto mt-6">
    <h2 class="text-2xl font-bold mb-4">➕ Nueva Transacción</h2>

    <form (ngSubmit)="guardar()" class="space-y-4">
        <input [(ngModel)]="transaccion.descripcion" name="descripcion" class="w-full p-2 border rounded"
            placeholder="Descripción" required />

        <input [(ngModel)]="transaccion.monto" name="monto" type="number" class="w-full p-2 border rounded"
            placeholder="Monto" required />

        <select [(ngModel)]="tipoSeleccionado" name="tipoSeleccionado" (change)="setTipo()"
            class="w-full p-2 border rounded" required>
            <option value="" disabled selected>Selecciona tipo</option>
            <option value="membresia">Membresía</option>
            <option value="propina">Propina</option>
            <option value="recompensa">Recompensa</option>
        </select>

        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">
            Guardar Transacción
        </button>
    </form>
</div>