<h2>➕ Nueva Membresía</h2>

<form (ngSubmit)="guardar()" #form="ngForm">
    <label>Nombre:
        <input type="text" [(ngModel)]="membresia.nombre" name="nombre" required />
    </label>
    <br />

    <label>Descripción:
        <input type="text" [(ngModel)]="membresia.descripcion" name="descripcion" required />
    </label>
    <br />

    <label>Precio:
        <input type="number" [(ngModel)]="membresia.precio" name="precio" required />
    </label>
    <br />

    <label>Duración (días):
        <input type="number" [(ngModel)]="membresia.duracion_dias" name="duracion_dias" required />
    </label>
    <br />

    <label>Beneficio:
        <input type="text" [(ngModel)]="beneficioTemporal" name="beneficio" />
        <button type="button" (click)="agregarBeneficio()">➕</button>
    </label>

    <ul>
        <li *ngFor="let b of membresia.beneficios">{{ b }}</li>
    </ul>

    <br />
    <button type="submit">Guardar Membresía</button>
</form>