<h2>Agregar Punto</h2>

<form (ngSubmit)="guardar()" class="card">
    <label>Tipo:
        <select [(ngModel)]="punto.tipo" name="tipo" required>
            <option value="manual">Manual</option>
            <option value="propina">Propina</option>
            <option value="diario">Inicio Diario</option>
            <option value="membresia">Membresía</option>
        </select>
    </label>
    <br /><br />

    <label>Cantidad:
        <input type="number" [(ngModel)]="punto.cantidad" name="cantidad" required />
    </label>
    <br /><br />

    <button type="submit">Guardar</button>
</form>